part1/courseinformation/node_modules
part2/thephonebook/node_modules
part2/thephonebook/public
part2/thephonebook/package-lock.json
part2/dataforcountries/node_modules
part2/dataforcountries/public
part2/dataforcountries/package-lock.json
